<h1>BIRTHDAY PARADOX</h1>
<%
  testing_people_quantity = [2, 3, 5, 10, 20]
  trial_count = 15
  sum_of_conflict = Array.new(7, 0)
%>

<table class="" border="1">
  <tr>
    <th></th>
    <% testing_people_quantity.each_with_index do |people_count| %>
      <th><%= people_count %> kişi</th>
    <% end %>
  </tr>

  <% trial_count.times do |trial| %>
    <tr>
      <th><%= trial + 1 %>. deneme</th>
      <% testing_people_quantity.each_with_index do |people_count, index| %>
        <% generated_dates = generate_date(people_count) %>
        <td>
          <%= generated_dates %>
          <%
            conflict = calc_conflict(generated_dates)
            sum_of_conflict[index] += conflict
          %>
          <%= conflict %> çakışma
        </td>
      <% end %>
    </tr>
  <% end %>
  <tr>
    <th>Toplam</th>
    <% testing_people_quantity.each_with_index do |people_count, index| %>
      <td><%= sum_of_conflict[index].to_i %></td>
    <% end %>
  </tr>
  <tr>
    <th>Ortalama</th>
    <% testing_people_quantity.each_with_index do |people_count, index| %>
      <td><%= sum_of_conflict[index].to_f / 15 %></td>
    <% end %>
  </tr>
</table>